<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="Logs/Archive-Extraction-Tool.log" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="20000000" /> <!-- 20MB-->
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
  </appSettings>
</configuration>